@model NewMVCproject53.Models.Sales

@{
    ViewBag.Title = "Sales: Details";
}

<h2>Details</h2>

<div>
    <h4>Sales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
